<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTGO-DB</title>
    <link rel="icon" href="{{ url_for('static', filename='icon_1.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ url_for('static', filename='base-js.js') }}" defer></script>
    <script>var directLink = false</script>
  </head>
  
  <body>
    <div id="loadBlock" style="width: 100vw; height: 100vh;">
      <nav class="navbar navbar-expand-lg navbar-custom" style="background-color: #30373e; color: #ffffff">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='icon2.png') }}" width="100" height="100" class="d-inline-block align-top">
          </a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  MTGO-DB
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('views.getting_started') }}">Getting Started</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.faq') }}">FAQ</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.changelog') }}">Change Log</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.contact') }}">Contact/Links</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{{ url_for('views.data_dict') }}">Data Dictionary</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ZipLogsModal" onclick="">Zip-MTGO-Logs Script</a></li>
                </ul>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  Tables
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='matches', page_num=1) }}">Matches</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.table', table_name='drafts', page_num=1) }}">Drafts</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  Data Cleaning
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#BestGuessModal" onclick="">Best Guess Deck Names</a></li>
                  <li><a class="dropdown-item disabled" href="#" data-bs-toggle="modal" data-bs-target="#GameWinnerModal" id="getMissingMenuButton" onclick="initGetWinner()">Get Missing Game Winners</a></li>
                  <li><a class="dropdown-item disabled" href="#" data-bs-toggle="modal" data-bs-target="#DraftIdModal" id="applyDraftIdMenuButton" onclick="initGetDraftId()">Apply Associated Draft_IDs</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  Processing
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ImportModal" onclick="">Import GameLogs</a></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ImportAppModal">Import from MTGO-Tracker</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ReprocessModal" onclick="">Reprocess Archived Files</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="{{ url_for('views.export') }}">Export to CSV</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  Dashboards
                </a>
                <ul class="dropdown-menu">
                  <form action="/load_dashboards/match-history" method="POST" id="loadDashFormMenu"></form>
                  <li><a class="dropdown-item" href="{{ url_for('views.load_dash', dash_name='match-history') }}">Match History</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.load_dash', dash_name='match-stats') }}">Match Stats</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.load_dash', dash_name='game-stats') }}">Game Stats</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.load_dash', dash_name='play-stats') }}">Play Stats</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.load_dash', dash_name='card-data') }}">Card Data</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ms-auto" style="margin-right: 10px;">
          {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff; font-size: 20px;">
                  {{ user.email }}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ url_for('views.profile') }}">Profile</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('views.logout') }}">Logout</a></li>
                </ul>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.register') }}" style="color: #ffffff; font-size: 20px;">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.login') }}" style="color: #ffffff; font-size: 20px;">Login</a>
              </li>
          {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid" style="max-width: 1200px; height: 65px; margin-top: 10px">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% else %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}

        {% endif %}
      {% endwith %}
      </div>

      <div class="modal fade" id="GameWinnerModal" tabindex="-1" aria-labelledby="GameWinnerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" id="GameWinnerModal2">
          <div class="modal-content modal-draftid" style="min-width: 650px">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="GameWinnerModalLabel">Missing Game_Winners</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="GetWinnerCloseButton"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row text-center" id="GameWinnerModalDate">
                  Date
                </div>
                <hr id="GameWinnerHR1">
                <div class="row">
                  <div class="col" id="EndGameActions">
                    Game Action 1<br>
                    Game Action 2<br>
                    Game Action 3<br>
                    Game Action 4<br>
                    Game Action 5<br>
                    Game Action 6<br>
                    Game Action 7<br>
                    Game Action 8<br>
                    Game Action 9<br>
                    Game Action 10<br>
                    Game Action 11<br>
                    Game Action 12<br>
                    Game Action 13<br>
                    Game Action 14<br>
                    Game Action 15<br>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer modal-footer-centered">
              <div class="row" id="GameWinnerMessage">
                <b><center>Game_Winner could not be automatically determined. Please choose manually.</center></b>
              </div>
              <div class="row">
                <div class="col text-end">
                  <button type="button" class="btn btn-dark modal-button" id="GameWinnerSkipButton" onclick="applyGetWinner('0')">Skip</button>
                </div>
                <div class="col-md-auto">
                  <button type="submit" class="btn btn-primary modal-button" id="GameWinnerP1Button" onclick="applyGetWinner('P1')">Player 1</button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary modal-button" id="GameWinnerP2Button" onclick="applyGetWinner('P2')">Player 2</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="DraftIdModal" tabindex="-1" aria-labelledby="DraftIdModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content modal-draftid">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="DraftIdModalLabel">Apply Associated Draft_ID</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="DraftIdCloseButton"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row text-center" id="DraftIdModalDate">
                </div>
                <hr id="DraftIdHR1">
                <div class="row">
                  <div class="col" id="DraftIdLands">
                  </div>
                  <div class="col" id="DraftIdSpells">
                  </div>
                  <div class="col" id="DraftIdSpells2">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer modal-footer-centered">
              <div class="row" id="DraftIdMessage" >
                <b>Choose the Draft_ID that should be associated with this Match.</b>
              </div>
              <div class="row">
                <div class="col text-end">
                  <div class="dropdown">
                    <button class="btn btn-dark modal-button-lg dropdown-toggle" type="button" id="DraftIdButton" name="DraftIdButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                      Associated Draft_ID
                    </button>
                    <ul class="dropdown-menu" id="DraftIdMenu">
                    </ul>
                  </div>
                </div>
                <div class="col text-end">
                  <button type="button" class="btn btn-dark modal-button" id="DraftIdSkipButton" onclick="applyGetDraftId(true)">Skip</button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary modal-button" id="DraftIdApplyButton" onclick="applyGetDraftId(false)">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form action="/best_guess" method="POST" id="getBestGuessModal">
        <input type="hidden" name="BG_Match_Set" id="BG_Match_Set" value="All Matches">
        <input type="hidden" name="BG_Replace" id="BG_Replace" value="NA">
        <div class="modal fade" id="BestGuessModal" tabindex="-1" aria-labelledby="BestGuessModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5" id="BestGuessModalLabel">Best Guess Deck Names</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="BestGuessCloseButton"></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row" id="BestGuessMessage">
                    <p><b>This will revise deck names according to the following:</b></p>
                    <b>Constructed:</b>
                    <p class="px-5">Compare cards played during a match to find the name of a similar decklist.</p>
                    <b>Limited:</b>
                    <p class="px-5">Look at basic lands played during a match to find the color combination played.</p>
                    <hr>
                    <b>- Matches without a valid Format will be ignored.<br>- 'Overwrite All' will overwrite manually input deck names and is not reversible.</b>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="col text-end">
                  <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle modal-button" type="button" id="BestGuessButton" name="BestGuessButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      All Matches
                    </button>
                    <ul class="dropdown-menu" id="BestGuessMenu">
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">All Matches </a></li>
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">Constructed Only </a></li>
                      <li><a class="dropdown-item" onclick="showBestGuess(this)">Limited Only </a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-auto">
                  <button type="submit" class="btn btn-primary modal-button" id="BestGuessOWButton" onclick="bestGuessHidden('Overwrite All')">Overwrite All</button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary modal-button" id="BestGuessNAButton" onclick="bestGuessHidden('Replace NA')">Replace NA</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form action="/load" method="POST" enctype="multipart/form-data" id="loadGameLogsModal">
        <input type="hidden" name="dataToImport" id="dataToImport" value="GameLogs Only">
        <div class="modal fade" id="ImportModal" tabindex="-1" aria-labelledby="ImportModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5">Import Data</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <p>Select your .zip file (created using <a href="{{ url_for('views.zip') }}"><b>Zip-MTGO-Logs</b></a> script). These log files will be parsed and new data will be added to your database.</p>
                    <hr>
                    <b>- This may take several minutes depending on how many new files you have to import.<br>- A load report will be emailed upon completion.</b>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row justify-content-end">
                  <input type="file" name="file" accept=".zip">
                </div>
                <div class="row justify-content-end">
                  <button type="submit" class="btn btn-primary" onclick="">Import</button>
                </div>
              </div><br>
            </div>
          </div>
        </div>
      </form>

      <form action="/load_from_app" method="POST" enctype="multipart/form-data" id="loadFromAppModal">
        <div class="modal fade" id="ImportAppModal" tabindex="-1" aria-labelledby="ImportAppModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5">Import from MTGO-Tracker</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <p>Add missing records and apply any manual revisions from MTGO-Tracker save data.</p>
                    <p style="text-align: center;"><b>Locate your /MTGO-Tracker/save/ folder.</b></p>
                    <hr>
                    <b>- Records added <u>will not</u> have an associated raw file archived and will not be able to be re-processed.</b><br><b>- This will overwrite any manual revisions and is not reversible.</b>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row justify-content-end">
                  <input type="file" name="folder" webkitdirectory directory multiple>
                </div>
                <div class="row justify-content-end">
                  <button type="submit" class="btn btn-primary">Apply</button>
                </div>
              </div><br>
            </div>
          </div>
        </div>
      </form>
      
      <form action="/reprocess" method="POST" id="reprocessGameLogsModal">
        <div class="modal fade" id="ReprocessModal" tabindex="-1" aria-labelledby="ReprocessModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5">Reprocess Data</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <p>Your archived GameLog and DraftLog files will be re-parsed. Any manual revisions you have made <u>will not</u> be lost.</p>
                    <hr>
                    <b>- This may take several minutes depending on how many archived files you have to reprocess.<br>- A load report will be emailed upon completion.</b>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <button type="submit" class="btn btn-primary" onclick="">Reprocess</button>
                </div>
              </div><br>
            </div>
          </div>
        </div>
      </form>

      <div class="modal fade" id="ZipLogsModal" tabindex="-1" aria-labelledby="ZipLogsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5">Zip-MTGO-Logs Script</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <p style="text-align: center;">Download and run the <b><a href="https://github.com/cderickson/Scripts/raw/main/Zip-MTGO-Logs.exe">Zip-MTGO-Logs</a></b> script.</p>
                  <hr>
                  <b>- A .zip file containing your GameLog and DraftLog files will be generated.<br>- Submit these files for processing by going to Processing -> Import GameLogs.</b>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <a href="https://github.com/cderickson/Scripts/raw/main/Zip-MTGO-Logs.exe">
                  <button class="btn btn-primary">Download Script</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="processing-modal" class="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Loading</h5>
            </div>
            <div class="modal-body">
              <div class="text-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-2">Please wait while page loads...</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% block content %}
    {% endblock %}

    </div>
  </body>
</html>