{% extends 'base.html' %}

{% block content %}

<div class="container container-1200">

	<h2><b>Change Log</b></h2>
	<br>

	<div class="accordion w-100" id="clAccordion">

		<div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button" type="button">
					<b>2023-11-01</b>
				</button>
			</h2>
			<div class="accordion-collapse" data-bs-parent="#clAccordion">
				<div class="accordion-body">
					Initial Release.
				</div>
			</div>
		</div>

		<!-- <div class="accordion-item">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#1">
					<b>2023 Month Day 2</b>
				</button>
			</h2>
			<div id="1" class="accordion-collapse collapse" data-bs-parent="#clAccordion">
				<div class="accordion-body">
					Initial Release. 2
				</div>
			</div>
		</div> -->

	</div>

	<!-- <br>

	<h2><b>Feature Request</b></h2>
	<br>

	<div class="accordion w-100" id="plannedFeaturesAccordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="pfheader">
				<button class="accordion-button" type="button" data-bs-target="#pf" aria-expanded="true" aria-controls="pf">
					<b>Features to be considered in future updates</b>
				</button>
			</h2>
			<div id="pf" class="accordion-collapse" aria-labelledby="pfheader" data-bs-parent="#plannedFeaturesAccordion">
				<div class="accordion-body">
					<b>Testing Teams</b>
						<ul>
							<li>Create and join a testing team.</li>
							<li>See statistics of teammates as well as shared statistics.</li>
						</ul>
				</div>
			</div>
		</div>
	</div> -->

<!-- 	<h4><b>YYYY Month Day</b></h4>
	<b>Changes:</b><br>
	Can now clear 'Removed and Ignored' GameLogs to make them scannable again by going to 'Data -> Make Ignored Records Scannable'.
	<br><br>
	<b>Bug Fixes:</b><br>
	Fixed Bug: 'PLAYER wins the game' now properly tracked as a Game_Winner condition.
	<br><br> -->

	</ul>

	<br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}