{% extends 'base.html' %}

{% block content %}

<div class="container container-1200">

	<h2><b>Contact/Links</b></h2>
	<br>

	<div class="accordion w-100" id="conAccordion">

		<div class="accordion-item">
			<h2 class="accordion-header" id="contactHeader1">
				<button class="accordion-button" type="button" data-bs-target="#con1" aria-expanded="true" aria-controls="con1">
					<b>Questions/Info</b>
				</button>
			</h2>
			<div id="con1" class="accordion-collapse" aria-labelledby="contactHeader1" data-bs-parent="#conAccordion">
				<div class="accordion-body">
					<p>Message me on <a href="https://twitter.com/Sundodger04"><b>Twitter</b></a> or <a href="https://www.reddit.com/user/Sundodger04/"><b>Reddit</b></a> if you have any questions or critiques (even feature requests). I’m happy to respond when I have time.</p>
          <ul>
            <li><b><a href="https://github.com/cderickson/MTGO-DB">MTGO-DB GitHub Repository</a></b></li>
          </ul>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="contactHeader2">
				<button class="accordion-button" type="button" data-bs-target="#con2" aria-expanded="true" aria-controls="con2">
					<b>Bug Reports</b>
				</button>
			</h2>
			<div id="con2" class="accordion-collapse" aria-labelledby="contactHeader2" data-bs-parent="#conAccordion">
				<div class="accordion-body">
					<p>Please open a <a href="https://github.com/cderickson/MTGO-DB/issues"><b>New Issue on GitHub</b></a> if you happen to have an account. Otherwise, messaging me on any social media is okay.</p>
					<p>Any screenshots, reproduction steps, etc. you can include is helpful for diagnosing issues.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="contactHeader3">
				<button class="accordion-button" type="button" data-bs-target="#con3" aria-expanded="true" aria-controls="con3">
					<b>MTGO-Tracker</b>
				</button>
			</h2>
			<div id="con3" class="accordion-collapse" aria-labelledby="contactHeader3" data-bs-parent="#conAccordion">
				<div class="accordion-body">
					<p><b>MTGO-Tracker</b> is a local, offline Windows application with much of the same functionality.</p>
          <p>Click <a href="https://cderickson.io/mtgo-tracker/"><b>here</b></a> for the project page where you can find updates and download links. You can also find a project wiki with more information in the <a href="https://github.com/cderickson/MTGO-Tracker"><b>GitHub repository</b></a>.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="contactHeader4">
				<button class="accordion-button" type="button" data-bs-target="#con4" aria-expanded="true" aria-controls="con4">
					<b>Crossposting</b>
				</button>
			</h2>
			<div id="con4" class="accordion-collapse" aria-labelledby="contactHeader4" data-bs-parent="#conAccordion">
				<div class="accordion-body">
					<p>If you want to cross-post this tool to other communities you think might be interested, feel free.</p>
				</div>
			</div>
		</div>
	
	</div>

	<br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}