{% extends 'base.html' %}

{% block content %}
<script>
  var dynamicUrl = "{{ dash_name }}"
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='dash-style.css') }}">
<script src="{{ url_for('static', filename='dash-js.js') }}"></script>

<input type="hidden" name="dname"  id="dname" value="{{ dash_name }}">

<div id="dashDiv" class="container-fluid">
  <form action="/load_dashboards/{{ dash_name }}" method="POST" id="loadDashForm">
    <input type="hidden" name="dashName" id="dashName" value="{{ dash_name }}">
    <input type="hidden" name="dashCard" id="dashCard" value="NA">
    <input type="hidden" name="dashOpponent" id="dashOpponent" value="NA">
    <input type="hidden" name="dashFormat" id="dashFormat" value="NA">
    <input type="hidden" name="dashLimitedFormat" id="dashLimitedFormat" value="NA">
    <input type="hidden" name="dashDeck" id="dashDeck" value="NA">
    <input type="hidden" name="dashOppDeck" id="dashOppDeck" value="NA">
    <input type="hidden" name="dashAction" id="dashAction" value="NA">
    <div class="container-fluid" style="max-width: 1200px;">
      <div class="d-flex flex-wrap justify-content-center align-items-center">
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="CardFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.0 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="CardFilterMenu">
              <li><a class="dropdown-item" onclick="showCardFilter(this)">Card </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="OpponentFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.1 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="OpponentFilterMenu">
              <li><a class="dropdown-item" onclick="showOpponentFilter(this)">Opponent </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="FormatFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.2 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="FormatFilterMenu">
              <li><a class="dropdown-item" onclick="showFormatFilter(this)">Format </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="LimitedFormatFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.3 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="LimitedFormatFilterMenu">
              <li><a class="dropdown-item" onclick="showLimitedFormatFilter(this)">Limited Format </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="DeckFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.4 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="DeckFilterMenu">
              <li><a class="dropdown-item" onclick="showDeckFilter(this)">Deck </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="OppDeckFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.5 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="OppDeckFilterMenu">
              <li><a class="dropdown-item" onclick="showOppDeckFilter(this)">Opp. Deck </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="dropdown mb-2 mt-2 ms-2 me-2">
            <button class="btn btn-dark dropdown-toggle dash-filter" type="button" id="ActionFilter" value="NA" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ inputs.8 }}
            </button>
            <ul class="dropdown-menu dropdown-menu-filter" id="ActionFilterMenu">
            </ul>
          </div>
        </div>
        <div class="col-md-auto mb-2 mt-2 ms-2 me-3">
          <div class="input-group date" id="Date1Filter">
            <input type="text" class="form-control" id="dashDate1" name="dashDate1" style="width: 150px; background-color: #000000; color: #FFFFFF"; value="">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-md-auto mb-2 mt-2 me-3">
          <div class="input-group date" id="Date2Filter">
            <input type="text" class="form-control" id="dashDate2" name="dashDate2" style="width: 150px; background-color: #000000; color: #FFFFFF"; value="">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
        <div class="col-md-auto mb-2 mt-2">
          <div>
            <button class="btn btn-primary modal-button" type="submit" id="GenerateButton" onclick="changeHiddenInputsFilter()">Generate</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<br>

<div class="container" style="margin-top: 20px;">
  <div class="main-body">
    <div class="row justify-content-md-center">
{% if table is defined %}
    {% if (dash_name) == 'match-history' %}
      <div class="card px-0">
        <h3 class="card-header text-center"><b>Match History</b></h3>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm w-auto table-bordered user-select-none">
              <thead class="table-dark">
                <tr>
                  {% for i in table.0.columns %}
                  <th class="match-history text-center">{{ i }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in table.0.iterrows() %}
                {% if 'Win' in value['Match Result'] %}
                <tr class="rowGreen">
                {% endif %}
                {% if 'Loss' in value['Match Result'] %}
                <tr class="rowRed">
                {% endif %}
                {% if 'NA' in value['Match Result'] %}
                <tr class="jsTableRow">
                {% endif %}
                  <td class="match-history text-center"><nobr>{{ value['Date'] }}</nobr></td>
                  <td class="match-history text-center">{{ value['Opponent'] }}</td>
                  <td class="match-history text-center">{{ value['Deck'] }}</td>
                  <td class="match-history text-center">{{ value['Opp. Deck'] }}</td>
                  <td class="match-history text-center">{{ value['Match Result'] }}</td>
                  <td class="match-history text-center">{{ value['Match Format'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
    {% if (dash_name) == 'match-stats' %}
      <div class="card px-0">
        <h3 class="card-header text-center"><b>Match Stats</b></h3>
        <div class="card-header">
          <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-format-tab" data-bs-toggle="tab" data-bs-target="#nav-format" type="button" role="tab" aria-controls="nav-format" aria-selected="true"><b>By Format</b></button>
              <button class="nav-link" id="nav-matchtype-tab" data-bs-toggle="tab" data-bs-target="#nav-matchtype" type="button" role="tab" aria-controls="nav-matchtype" aria-selected="false"><b>By Match Type</b></button>
              <button class="nav-link" id="nav-deck-tab" data-bs-toggle="tab" data-bs-target="#nav-deck" type="button" role="tab" aria-controls="nav-deck" aria-selected="false"><b>By Deck</b></button>
              <button class="nav-link" id="nav-oppdeck-tab" data-bs-toggle="tab" data-bs-target="#nav-oppdeck" type="button" role="tab" aria-controls="nav-oppdeck" aria-selected="false"><b>By Opp. Deck</b></button>
              <button class="nav-link" id="nav-dieroll-tab" data-bs-toggle="tab" data-bs-target="#nav-dieroll" type="button" role="tab" aria-controls="nav-dieroll" aria-selected="false"><b>Die Rolls</b></button>
            </div>
          </nav>
        </div>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane show active" id="nav-format" role="tabpanel" aria-labelledby="nav-format-tab">
            <div class="card-body text-center">
              <div class="table-responsive d-inline-block">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.0.columns %}
                      <th class="match-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.0.iterrows() %}
                      {% if loop.index == 1 %}
                      <tr>
                      {% else %}
                      <tr class="rowWhite">
                      {% endif %}
                        <th class="match-stats">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="match-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-matchtype" role="tabpanel" aria-labelledby="nav-matchtype-tab">
            <div class="card-body text-center">
              <div class="table-responsive d-inline-block">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.1.columns %}
                      <th class="match-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.1.iterrows() %}
                      {% if loop.index == 1 %}
                      <tr>
                      {% else %}
                      <tr class="rowWhite">
                      {% endif %}
                        <th class="match-stats">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="match-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-deck" role="tabpanel" aria-labelledby="nav-deck-tab">
            <div class="card-body text-center">
              <div class="table-responsive d-inline-block">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.2.columns %}
                      <th class="match-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.2.iterrows() %}
                      {% if loop.index % 2 == 0 %}
                        <tr class="rowWhite">
                      {% else %}
                        <tr>
                      {% endif %}
                        <th class="match-stats">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="match-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-oppdeck" role="tabpanel" aria-labelledby="nav-oppdeck-tab">
            <div class="card-body text-center">
              <div class="table-responsive d-inline-block">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.3.columns %}
                      <th class="match-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.3.iterrows() %}
                      {% if loop.index % 2 == 0 %}
                        <tr class="rowWhite">
                      {% else %}
                        <tr>
                      {% endif %}
                        <th class="match-stats">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="match-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-dieroll" role="tabpanel" aria-labelledby="nav-dieroll-tab">
            <div class="card-body text-center">
              <div class="table-responsive d-inline-block">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.4.columns %}
                      <th class="die-roll text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.4.iterrows() %}
                      <tr>
                        <th class="die-roll">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="die-roll text-center"><b>{{ j }}</b></td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endif %}
    {% if (dash_name) == 'game-stats' %}
      <div class="card px-0">
        <h3 class="card-header text-center"><b>Game Stats</b></h3>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm table-bordered user-select-none">
              <thead class="table-dark">
                <tr>
                  {% for i in table.0.columns %}
                  <th class="game-stats text-center">{{ i }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in table.0.iterrows() %}
                  {% if 'All Games' in value['Game_Label'] %}
                  <tr>
                  {% endif %}
                  {% if 'Game 1' in value['Game_Label'] %}
                  <tr class="rowWhite">
                  {% endif %}
                  {% if 'Game 2' in value['Game_Label'] %}
                  <tr>
                  {% endif %}
                  {% if 'Game 3' in value['Game_Label'] %}
                  <tr class="rowWhite">
                  {% endif %}
                    <th class="game-stats" scope="row">{{ value[0] }}</th>
                  {% for j in value[1:] %}
                    <td class="game-stats text-center">{{ j }}</td>
                  {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
    {% if (dash_name) == 'play-stats' %}
      <div class="card px-0">
        <h3 class="card-header text-center"><b>Play Data</b></h3>
        <div class="card-header">
          <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-playsbyformat-tab" data-bs-toggle="tab" data-bs-target="#nav-playsbyformat" type="button" role="tab" aria-controls="nav-playsbyformat" aria-selected="true"><b>By Format</b></button>
              <button class="nav-link" id="nav-playsbyturn-tab" data-bs-toggle="tab" data-bs-target="#nav-playsbyturn" type="button" role="tab" aria-controls="nav-playsbyturn" aria-selected="false"><b>By Turn</b></button>
              <button class="nav-link" id="nav-playsbydeck-tab" data-bs-toggle="tab" data-bs-target="#nav-playsbydeck" type="button" role="tab" aria-controls="nav-playsbydeck" aria-selected="false"><b>By Deck</b></button>
              <button class="nav-link" id="nav-playsbyoppdeck-tab" data-bs-toggle="tab" data-bs-target="#nav-playsbyoppdeck" type="button" role="tab" aria-controls="nav-playsbyoppdeck" aria-selected="false"><b>By Opp. Deck</b></button>
            </div>
          </nav>
        </div>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane show active" id="nav-playsbyformat" role="tabpanel" aria-labelledby="nav-playsbyformat-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.0.columns %}
                      <th class="play-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.0.iterrows() %}
                      {% if loop.index <= 2 or (loop.index - 1) // 2 % 2 == 0 %}
                        <tr>
                      {% else %}
                        <tr class="rowWhite">
                      {% endif %}
                        <th class="play-stats text-center">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="play-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-playsbydeck" role="tabpanel" aria-labelledby="nav-playsbydeck-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.1.columns %}
                      <th class="play-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.1.iterrows() %}
                      {% if loop.index <= 2 or (loop.index - 1) // 2 % 2 == 0 %}
                        <tr>
                      {% else %}
                        <tr class="rowWhite">
                      {% endif %}
                        <th class="play-stats text-center">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="play-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-playsbyoppdeck" role="tabpanel" aria-labelledby="nav-playsbyoppdeck-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.2.columns %}
                      <th class="play-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.2.iterrows() %}
                      {% if loop.index <= 2 or (loop.index - 1) // 2 % 2 == 0 %}
                        <tr>
                      {% else %}
                        <tr class="rowWhite">
                      {% endif %}
                        <th class="play-stats text-center">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="play-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-playsbyturn" role="tabpanel" aria-labelledby="nav-playsbyturn-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.3.columns %}
                      <th class="play-stats text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.3.iterrows() %}
                      {% if loop.index % 2 == 0 %}
                        <tr class="rowWhite">
                      {% else %}
                        <tr>
                      {% endif %}
                        <th class="play-stats text-center">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="play-stats text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endif %}
    {% if (dash_name) == 'card-data' %}
      <div class="card px-0">
        <h3 class="card-header text-center"><b>Card Data</b></h3>
        <div class="card-header">
          <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-presb-tab" data-bs-toggle="tab" data-bs-target="#nav-presb" type="button" role="tab" aria-controls="nav-presb" aria-selected="true"><b>Pre-Sideboard</b></button>
              <button class="nav-link" id="nav-postsb-tab" data-bs-toggle="tab" data-bs-target="#nav-postsb" type="button" role="tab" aria-controls="nav-postsb" aria-selected="false"><b>Post-Sideboard</b></button>
            </div>
          </nav>
        </div>
        <div class="tab-content" id="nav-tabContent">

          <div class="tab-pane show active" id="nav-presb" role="tabpanel" aria-labelledby="nav-presb-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.0.columns %}
                      <th class="card-data text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.0.iterrows() %}
                      {% if loop.index % 2 == 0 %}
                        <tr class="rowWhite">
                      {% else %}
                        <tr>
                      {% endif %}
                        <th class="card-data">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="card-data text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="nav-postsb" role="tabpanel" aria-labelledby="nav-postsb-tab">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm w-auto table-bordered user-select-none">
                  <thead class="table-dark">
                    <tr>
                      {% for i in table.1.columns %}
                      <th class="card-data text-center">{{ i }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for key,value in table.1.iterrows() %}
                      {% if loop.index % 2 == 0 %}
                        <tr class="rowWhite">
                      {% else %}
                        <tr>
                      {% endif %}
                        <th class="card-data">{{ value[0] }}</th>
                      {% for j in value[1:] %}
                        <td class="card-data text-center">{{ j }}</td>
                      {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    {% endif %}

{% endif %}
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}