{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='data-dict-style.css') }}">
<div class="container container-1200">

	<h2><b>Data Dictionary</b></h2>
	<br>

	<div class="accordion w-100" id="ddAccordion">

		<div class="accordion-item">
			<h2 class="accordion-header" id="ddHeader1">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#dd1" aria-expanded="true" aria-controls="dd1">
					<b>Matches</b>
				</button>
			</h2>
			<div id="dd1" class="accordion-collapse collapse show" aria-labelledby="ddHeader1" data-bs-parent="#ddAccordion">
				<div class="accordion-body">
					<table>
						<thead>
							<tr>
								<th class="col-name top">Column Name</th>
                      			<th class="desc top">Description</th>
                      			<th class="data-type top">Data Type</th>
								<th class="note top">Format/Input Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Match_ID</th>
								<td>Match Identification Code</td>
								<td class="data-type">String</td>
								<td>&lt;Filename&gt;</td>
							</tr>
							<tr>
								<th>Draft_ID</th>
								<td>Draft Identification Code</td>
								<td class="data-type">String</td>
								<td>YYYYMMDDHHMM-&lt;Username&gt;-&lt;LimitedFormat&gt;-&lt;MTGODraftCode&gt;</td>
							</tr>
							<tr>
								<th>P1</th>
								<td>Player 1 Username</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>P1_Arch</th>
								<td>Player 1, Deck Archetype</td>
								<td class="data-type">String</td>
								<td>[Aggro, Midrange, Control, Combo, Prison, Tempo, Ramp, Rogue]</td>
							</tr>
							<tr>
								<th>P1_Subarch</th>
								<td>Player 1, Deck Name</td>
								<td class="data-type">String</td>
								<td>&lt;Deck Name&gt;</td>
							</tr>
							<tr>
								<th>P2</th>
								<td>Player 2 Username</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>P2_Arch</th>
								<td>Player 2, Deck Archetype</td>
								<td class="data-type">String</td>
								<td>[Aggro, Midrange, Control, Combo, Prison, Tempo, Ramp, Rogue]</td>
							</tr>
							<tr>
								<th>P2_Subarch</th>
								<td>Player 2, Deck Name</td>
								<td class="data-type">String</td>
								<td>&lt;Deck Name&gt;</td>
							</tr>
							<tr>
								<th>P1_Roll</th>
								<td>Player 1, Opening Die Roll</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, 4, 5, 6]</td>
							</tr>
							<tr>
								<th>P2_Roll</th>
								<td>Player 2, Opening Die Roll</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, 4, 5, 6]</td>
							</tr>
							<tr>
								<th>Roll_Winner</th>
								<td>Player who won the opening die roll</td>
								<td class="data-type">String</td>
								<td>[P1, P2]</td>
							</tr>
							<tr>
								<th>P1_Wins</th>
								<td>Player 1, games won during match</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2]</td>
							</tr>
							<tr>
								<th>P2_Wins</th>
								<td>Player 2, games won during match</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2]</td>
							</tr>
							<tr>
								<th>Match_Winner</th>
								<td>Player who won the match</td>
								<td class="data-type">String</td>
								<td>[NA, P1, P2]</td>
							</tr>
							<tr>
								<th>Format</th>
								<td>Format being played</td>
								<td class="data-type">String</td>
								<td>[NA, Vintage, Legacy, Modern, Standard, Pioneer, Pauper, Other Constructed, Booster Draft, Sealed Deck, Cube]</td>
							</tr>
							<tr>
								<th>Limited_Format</th>
								<td>Sets being drafted, if applicable</td>
								<td class="data-type">String</td>
								<td>[NA, Vintage Cube, Legacy Cube, Modern Cube, Cube-Other, SETSETSET, SET x6]</td>
							</tr>
							<tr>
								<th>Match_Type</th>
								<td>Event type in which match was played</td>
								<td class="data-type">String</td>
								<td>[NA, League, Preliminary, Challenge, Premier Constructed, 2-Man, Practice, Open Play BO1, Draft League, Swiss Draft, Elimination Draft, Friendly Sealed League, Competitive Sealed League, Premier Sealed]</td>
							</tr>
							<tr>
								<th>Date</th>
								<td>Date and time at start of the match</td>
								<td class="data-type">Datetime</td>
								<td>YYYY-MM-DD HH:MM (24h)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="ddHeader2">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dd2" aria-expanded="true" aria-controls="dd2">
					<b>Games</b>
				</button>
			</h2>
			<div id="dd2" class="accordion-collapse collapse" aria-labelledby="ddHeader2" data-bs-parent="#ddAccordion">
				<div class="accordion-body">
					<table>
						<thead>
							<tr>
								<th class="col-name top">Column Name</th>
                      			<th class="desc top">Description</th>
                      			<th class="data-type top">Data Type</th>
								<th class="note top">Format/Input Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Match_ID</th>
								<td>Match Identification Code</td>
								<td class="data-type">String</td>
								<td>&lt;Filename&gt;</td>
							</tr>
							<tr>
								<th>P1</th>
								<td>Player 1 Username</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>P2</th>
								<td>Player 2 Username</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>Game_Num</th>
								<td>Sequential game number</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3]</td>
							</tr>
							<tr>
								<th>PD_Selector</th>
								<td>Player choosing whether to play/draw first</td>
								<td class="data-type">String</td>
								<td>[P1, P2]</td>
							</tr>
							<tr>
								<th>PD_Choice</th>
								<td>Play/Draw selection</td>
								<td class="data-type">String</td>
								<td>[Play, Draw]</td>
							</tr>
							<tr>
								<th>On_Play</th>
								<td>Player who is on the play</td>
								<td class="data-type">String</td>
								<td>[P1, P2</td>
							</tr>
							<tr>
								<th>On_Draw</th>
								<td>Player who is on the draw</td>
								<td class="data-type">String</td>
								<td>[P1, P2]</td>
							</tr>
							<tr>
								<th>P1_Mulls</th>
								<td>Player 1, number of mulligans</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2, 3, 4, 5, 6, 7]</td>
							</tr>
							<tr>
								<th>P2_Mulls</th>
								<td>Player 2, number of mulligans</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2, 3, 4, 5, 6, 7]</td>
							</tr>
							<tr>
								<th>Game_Winner</th>
								<td>Player who won the game</td>
								<td class="data-type">String</td>
								<td>[NA, P1, P2]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="ddHeader3">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dd3" aria-expanded="true" aria-controls="dd3">
					<b>Plays</b>
				</button>
			</h2>
			<div id="dd3" class="accordion-collapse collapse" aria-labelledby="ddHeader3" data-bs-parent="#ddAccordion">
				<div class="accordion-body">
					<table>
						<thead>
							<tr>
								<th class="col-name top">Column Name</th>
                      			<th class="desc top">Description</th>
                      			<th class="data-type top">Data Type</th>
								<th class="note top">Format/Input Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Match_ID</th>
								<td>Match Identification Code</td>
								<td class="data-type">String</td>
								<td>&lt;Filename&gt;</td>
							</tr>
							<tr>
								<th>Game_Num</th>
								<td>Sequential game number</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3]</td>
							</tr>
							<tr>
								<th>Play_Num</th>
								<td>Sequential play number (of current game)</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, 4, 5, ...]</td>
							</tr>
							<tr>
								<th>Turn_Num</th>
								<td>Sequential turn number (of current game)</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, 4, 5, ...]</td>
							</tr>
							<tr>
								<th>Casting Player</th>
								<td>Username of player who took an action</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>Action</th>
								<td>Game Action being taken</td>
								<td class="data-type">String</td>
								<td>[Land Drop, Casts, Activated Ability, Triggers, Attacks, Draws]</td>
							</tr>
							<tr>
								<th>Primary_Card</th>
								<td>Name of card being cast/played/etc.</td>
								<td class="data-type">String</td>
								<td>&lt;Card&gt;, if applicable</td>
							</tr>
							<tr>
								<th>Target1</th>
								<td>Card name being targeted by spell/ability</td>
								<td class="data-type">String</td>
								<td>&lt;Card&gt;, if applicable (1st of up to 3 targets)</td>
							</tr>
							<tr>
								<th>Target2</th>
								<td>Card name being targeted by spell/ability</td>
								<td class="data-type">String</td>
								<td>&lt;Card&gt;, if applicable (2nd of up to 3 targets)</td>
							</tr>
							<tr>
								<th>Target3</th>
								<td>Card name being targeted by spell/ability</td>
								<td class="data-type">String</td>
								<td>&lt;Card&gt;, if applicable (3rd of up to 3 targets)</td>
							</tr>
							<tr>
								<th>Opp_Target</th>
								<td>Binary indicator of spell/ability targeting opponent</td>
								<td class="data-type">Binary</td>
								<td>[0, 1]</td>
							</tr>
							<tr>
								<th>Self_Target</th>
								<td>Binary indicator of spell/ability targeting Casting_Player</td>
								<td class="data-type">Binary</td>
								<td>[0, 1]</td>
							</tr>
							<tr>
								<th>Cards_Drawn</th>
								<td>Total number of cards drawn (current action)</td>
								<td class="data-type">Integer</td>
								<td>If applicable</td>
							</tr>
							<tr>
								<th>Attackers</th>
								<td>Total number of attacking creatures (current action)</td>
								<td class="data-type">Integer</td>
								<td>If applicable</td>
							</tr>
							<tr>
								<th>Active_Player</th>
								<td>Player whose turn it is currently</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>Non-Active Player</th>
								<td>Player whose turn it is not currently</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="ddHeader4">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dd4" aria-expanded="true" aria-controls="dd4">
					<b>Drafts</b>
				</button>
			</h2>
			<div id="dd4" class="accordion-collapse collapse" aria-labelledby="ddHeader4" data-bs-parent="#ddAccordion">
				<div class="accordion-body">
					<table>
						<thead>
							<tr>
								<th class="col-name top">Column Name</th>
                      			<th class="desc top">Description</th>
                      			<th class="data-type top">Data Type</th>
								<th class="note top">Format/Input Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Draft_ID</th>
								<td>Draft Identification Code</td>
								<td class="data-type">String</td>
								<td>YYYYMMDDHHMM-&lt;Username&gt;-&lt;LimitedFormat&gt;-&lt;MTGODraftCode&gt;</td>
							</tr>
							<tr>
								<th>Hero</th>
								<td>Player whose draft perspective is being shown</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>Player2 .. 8</th>
								<td>Other drafters (7 other total players)</td>
								<td class="data-type">String</td>
								<td>&lt;Username&gt;</td>
							</tr>
							<tr>
								<th>Match_Wins</th>
								<td>Player 1, games won during match</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2], Set automatically after using <b>Apply Associated Draft_IDs</b> function</td>
							</tr>
							<tr>
								<th>Match_Losses</th>
								<td>Player 2, games won during match</td>
								<td class="data-type">Integer</td>
								<td>[0, 1, 2], Set automatically after using <b>Apply Associated Draft_IDs</b> function</td>
							</tr>
							<tr>
								<th>Format</th>
								<td>Sets being drafted</td>
								<td class="data-type">String</td>
								<td>[SETSETSET, SET x6]</td>
							</tr>
							<tr>
								<th>Date</th>
								<td>Date and time at start of the draft</td>
								<td class="data-type">Datetime</td>
								<td>YYYY-MM-DD HH:MM (24h)</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="ddHeader5">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dd5" aria-expanded="true" aria-controls="dd5">
					<b>Draft Picks</b>
				</button>
			</h2>
			<div id="dd5" class="accordion-collapse collapse" aria-labelledby="ddHeader5" data-bs-parent="#ddAccordion">
				<div class="accordion-body">
					<table>
						<thead>
							<tr>
								<th class="col-name top">Column Name</th>
                      			<th class="desc top">Description</th>
                      			<th class="data-type top">Data Type</th>
								<th class="note top">Format/Input Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Draft_ID</th>
								<td>Draft Identification Code</td>
								<td class="data-type">String</td>
								<td>YYYYMMDDHHMM-&lt;Username&gt;-&lt;LimitedFormat&gt;-&lt;MTGODraftCode&gt;</td>
							</tr>
							<tr>
								<th>Pack_Num</th>
								<td>Sequential pack number</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3]</td>
							</tr>
							<tr>
								<th>Pick_Num</th>
								<td>Sequential pick number</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, .. 15]</td>
							</tr>
							<tr>
								<th>Pick_Ovr</th>
								<td>Sequential pick number, overall</td>
								<td class="data-type">Integer</td>
								<td>[1, 2, 3, .. 45]</td>
							</tr>
							<tr>
								<th>Avail1 .. 14</th>
								<td>Cards remaining in the pack</td>
								<td class="data-type">String</td>
								<td>&lt;Card&gt;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}