{% extends 'base.html' %}

{% block content %}

<div class="container container-1200">

	<h2><b>Frequently Asked Questions</b></h2>
	<br>

	<div class="accordion w-100" id="faqAccordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader0">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq0" aria-expanded="true" aria-controls="faq0">
					<b>I already use the MTGO-Tracker Desktop application. Do I have to re-do all the manual revisions I made previously?</b>
				</button>
			</h2>
			<div id="faq0" class="accordion-collapse collapse show" aria-labelledby="faqHeader0" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>No! You can import your saved data from <a href="https://github.com/cderickson/MTGO-Tracker"><b>MTGO-Tracker</b></a>.</p>
					<p>The preferred method to accomplish this is to upload your files normally (Using <b>Import GameLogs</b>), and then using <b>Import from MTGO-Tracker</b> to apply your manual revisions.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader1">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
					<b>Why do I need to upload my logs as a .zip file? Can I upload individual files?</b>
				</button>
			</h2>
			<div id="faq1" class="accordion-collapse collapse" aria-labelledby="faqHeader1" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>GameLog files do not include any timestamp data in the file contents, so the parsing process relies on file modification date to record the date and time a match was played. This metadata is not preserved when individual files are uploaded, but is preserved when zipped files are uploaded.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader2">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">
					<b>What is the Zip-MTGO-Files script doing?</b>
				</button>
			</h2>
			<div id="faq2" class="accordion-collapse collapse" aria-labelledby="faqHeader2" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>The script is scanning your PC for files that match the MTGO Game/DraftLog file naming conventions and filetype. If it finds a Game/DraftLog, it copies it and adds it to a .zip file that can be uploaded to <b>MTGO-DB</b>. The script code can be viewed <a href="https://github.com/cderickson/Scripts/blob/main/zip-mtgo-logs.py"><b>here</b></a>.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader3">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="true" aria-controls="faq3">
					<b>Can you explain the Best Guess Deck Name function? Why isn't it naming X deck correctly?</b>
				</button>
			</h2>
			<div id="faq3" class="accordion-collapse collapse" aria-labelledby="faqHeader3" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>Deck names and sample decklists are scraped from MTGGoldfish tournament results monthly. The list of cards played during a given match is compared against sample decklists collected over the prior month and the list that best matches is chosen at the 'best guess'.</p>
					<p>If MTGGoldfish does not standardize their deck names, it is possible to get similar lists with different names. Also, if very few cards are played during a match, it is very easy to get a mismatch.</p>
					<p>This is a difficult function to implement with high accuracy, and is meant to be used as a 'first pass' and should be verified.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader4">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="true" aria-controls="faq4">
					<b>Other sites provide 'Card In-Hand' data. Is there a similar statistic for MTGO?</b>
				</button>
			</h2>
			<div id="faq4" class="accordion-collapse collapse" aria-labelledby="faqHeader4" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>MTGO GameLog files do not track cards in-hand. Win rate data by card is available for cards that are cast/played.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader5">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="true" aria-controls="faq5">
					<b>I already have an Excel/Google Sheets document that I use to track my match history. What does MTGO-DB offer me that my personal data sheet does not?</b>
				</button>
			</h2>
			<div id="faq5" class="accordion-collapse collapse" aria-labelledby="faqHeader5" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>Gameplay statistics for MTGO are not offered to this level of granularity (down to the individual play) anywhere else. This software also automates much of the data ingestion process.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader6">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="true" aria-controls="faq6">
					<b>How long does the data import step typically take?</b>
				</button>
			</h2>
			<div id="faq6" class="accordion-collapse collapse" aria-labelledby="faqHeader6" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>Your first import will take the longest, assuming you have a large backlog of data to be processed.</p>
					<p>Individual matches only take 1-2 seconds to process, but if you have a backlog of 1000 matches, that could take 20-25 minutes. Once a match has been processed, it will be skipped in future imports and the process will be much faster.</p>
					<p>After files are uploaded, they will be scheduled for processing and you can navigate away from the page. A <b>Load Report</b> will be emailed upon completion.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader7">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="true" aria-controls="faq7">
					<b>I use multiple screennames on MTGO. Can I combine my data?</b>
				</button>
			</h2>
			<div id="faq7" class="accordion-collapse collapse" aria-labelledby="faqHeader7" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>Logs from multiple accounts can be processed normally, but the data will not be combined within the software.</p>
					<p>Changing your MTGO Username on your profile page will change the data being shown to you throughout the site.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="faqHeader8">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="true" aria-controls="faq8">
					<b>Is there support for Commander formats?</b>
				</button>
			</h2>
			<div id="faq8" class="accordion-collapse collapse" aria-labelledby="faqHeader8" data-bs-parent="#faqAccordion">
				<div class="accordion-body">
					<p>Currently, only 2-player formats are supported. Commander GameLog files will be skipped by default during processing.</p>
				</div>
			</div>
		</div>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}