{% extends 'base.html' %}

{% block content %}

<div class="container container-1200">

	<h2><b>Getting Started</b></h2>
	<br>

	<h5><b>Registration</b></h5>
	<ul>
		<li><a href="/register"><b>Register</b></a> for an account and confirm your email.</li>
	</ul>
	<h5><b>Import your data</b></h5>
	There are two methods to import data to be processed:

	<br><br>
	<div class="accordion w-100" id="importAccordion">

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="imp1header">
	      <button class="accordion-button" type="button" data-bs-target="#imp1" aria-expanded="true" aria-controls="imp1">
	        <b>Import from GameLogs</b>
	      </button>
	    </h2>
	    <div id="imp1" class="accordion-collapse" aria-labelledby="imp1header" data-bs-parent="#importAccordion">
	      <div class="accordion-body">
	        <p>Use this option if you are a new user importing data for the first time.</p>
          <ol>
            <li>Download and run the <a href="https://github.com/cderickson/Scripts/raw/main/Zip-MTGO-Logs.exe"><b>Zip-MTGO-Logs</b></a> script. A .zip file containing your GameLog and DraftLog files will be generated.</li>
            <li>Click on <b>Processing -> Import GameLogs.</b></li>
            <li>Nagivate to the .zip file created in Step 1 and upload it.</li>
            <ul>
              <li>Your browser may ask you to confirm your upload.</li>
            </ul>
            <li>Click <b>Import</b>. Your files will be processed in the background and a Load Report will be emailed to you upon completion.</li>
          </ol>
	      </div>
	    </div>
	  </div>
		  
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="imp2header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#imp2" aria-expanded="true" aria-controls="imp2">
	        <b>Import from MTGO-Tracker</b>
	      </button>
	    </h2>
	    <div id="imp2" class="accordion-collapse collapse" aria-labelledby="imp2header" data-bs-parent="#importAccordion">
	      <div class="accordion-body">
          <p>Use this option if you have previously used the <b>MTGO-Tracker</b> desktop application and would like to upload your saved data.</p>
          <ol>
            <li>Click on <b>Processing -> Import from MTGO-Tracker</b></li>
            <li>Navigate to your <b>/MTGO-Tracker/save/</b> and upload it.</li>
            <ul>
              <li>Your browser may ask you to confirm your upload.</li>
            </ul>
            <li>Click <b>Import</b>. Your files will be processed in the background and a Load Report will be emailed to you upon completion.</li>
          </ol>
		  <p>This will add missing records, or apply any manual revisions from your save data. Note that any records added <u>will not</u> have an associated raw file archived and will not be able to be re-processed.</p>
	      </div>
	    </div>
	  </div>

	</div>
	<br><br>

	<h5><b>Complete your dataset</b></h5>
	Use the <b>Data Cleaning</b> functions described below to fill in information for attributed that do not import manually. Some column attributes (Deck Archetype, Match Format, Match Type) can not be derived from GameLog files and must be revised manually using <b>Revise Record(s)</b>.

	<br><br>
	<div class="accordion w-100" id="dataCleaningAccordion">

	  <!-- <div class="accordion-item">
	    <h2 class="accordion-header" id="dc0header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc0" aria-expanded="true" aria-controls="dc0">
	        <b>Apply Manual Revisions from MTGO-Tracker</b>
	      </button>
	    </h2>
	    <div id="dc0" class="accordion-collapse collapse" aria-labelledby="dc0header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
	        <p>Apply any manual revisions from your MTGO-Tracker save data. <b>Your GameLog/DraftLog files must be uploaded and processed first.</b></p>
          <ol>
            <li>Go to <b>Data Cleaning -> Apply Manual Revisions from MTGO-Tracker.</b></li>
            <li>Nagivate to your <b>/MTGO-Tracker/save/</b> folder and upload it.</li>
            <li>Your browser may ask you to confirm your upload.</li>
            <li>Click on <b>Apply</b>.</li>
          </ol>
          <p><b>NOTE: This will overwrite any manual revisions you have made and is not reversible.</b></p>
	      </div>
	    </div>
	  </div> -->

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="dc1header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc1" aria-expanded="true" aria-controls="dc1">
	        <b>Best Guess Deck Names</b>
	      </button>
	    </h2>
	    <div id="dc1" class="accordion-collapse collapse" aria-labelledby="dc1header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
	        <p>The <b>Matches.P1/P2_Subarch</b> columns will be set to 'NA' by default after importing. This function try to guess a deck name based on historical decklists. The accuracy can vary (especially for matches where fewer cards were played). It is recommended that you do this step manually. Limited decks are simply named according to colors played.</p>
          <ol>
            <li>Label all matches with a Format. (Matches with <b>Match.Format = NA</b> will be ignored)</li>
            <li>Click on <b>Data Cleaning -> Best Guess Deck Names</b>.</li>
            <li>Choose which Matches to apply the change to by selecting <b>Constructed</b>, <b>Limited</b>, or <b>All</b> from the dropdown.</li>
            <li>Choose whether to overwrite the Match.P1/P2_Subarch for all records, or only those records with Match.P1/P2_Subarch = NA.</li>
          </ol>
          <p><b>NOTE: Overwriting deck names is not reversible. Don't accidentally waste all the time you spent naming decks!</b></p>
	      </div>
	    </div>
	  </div>
		  
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="dc2header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc2" aria-expanded="true" aria-controls="dc2">
	        <b>Get Missing Game Winners</b>
	      </button>
	    </h2>
	    <div id="dc2" class="accordion-collapse collapse" aria-labelledby="dc2header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
          <p>The <b>Games.Game_Winner</b> column will be set to 'NA' if the game's winner could not be determined. Cycle through affected Games and manually select a <b>Game_Winner</b> based on trailing Game Actions.</p>
          <ol>
            <li>Click on <b>Data Cleaning -> Get Missing Game Winners</b>.</li>
            <li>For each Game shown, choose the player that won (or <b>Skip</b> to leave <b>Game.Game_Winner = NA</b>). </li>
          </ol>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="dc3header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc3" aria-expanded="true" aria-controls="dc3">
	        <b>Apply Associated Draft_IDs</b>
	      </button>
	    </h2>
	    <div id="dc3" class="accordion-collapse collapse" aria-labelledby="dc3header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
          <p>This will cycle through Matches that have been set to <b>Booster Draft</b> or <b>Cube</b>. The cards played will be compared against cards picked in each Draft to find <b>Applicable Draft_IDs</b>.  Match results will automatically be applied to the match result columns in the Drafts Table.</p>
          <ol>
            <li>Click on <b>Data Cleaning -> Apply Associated Draft_IDs</b>.</li>
            <li>Choose from the list of <b>Applicable Draft_IDs</b> to apply the Draft_ID to the Match (or <b>Skip</b> to leave <b>Match.Draft_ID = NA</b>).</li>
          </ol>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="dc4header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc4" aria-expanded="true" aria-controls="dc4">
	        <b>Revise Record(s)</b>
	      </button>
	    </h2>
	    <div id="dc4" class="accordion-collapse collapse" aria-labelledby="dc4header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
          <p>Some columns do not have an associated helper function and must be revised manually.</p>
          <ol>
            <li>Go to <b>Tables -> Matches</b> and select the Match or Matches you wish to revise.</li>
            <li>Click <b>Revise Record(s)</b> and one of two windows will pop-up depending on whether one or multiple records were selected.</li>
            <ul>
              <li>Use <b>Ctrl-Click</b> or <b>Shift-Click</b> to select multiple records.</li>
            </ul>
          </ol>
          <p><b>NOTE: Overwriting deck names is not reversible. Don't accidentally waste all the time you spent naming decks!</b></p>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="dc5header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#dc5" aria-expanded="true" aria-controls="dc5">
	        <b>Remove Record(s)</b>
	      </button>
	    </h2>
	    <div id="dc5" class="accordion-collapse collapse" aria-labelledby="dc5header" data-bs-parent="#dataCleaningAccordion">
	      <div class="accordion-body">
          <p>Selected row(s) in the 'Matches' table can be removed from your database. All associated Games and Plays data will also be removed.</p>
          <ol>
            <li>Go to <b>Tables -> Matches</b> and select the Match or Matches you wish to revise.</li>
            <li>Click <b>Remove Record(s)</b>.</li>
            <li>Choose whether or not you want to ignore the selected Matches. Ignored Matches will not be included in future imports.</li>
            <ul>
              <li>A good example of a case when you would remove but not ignore is if you want a GameLog file re-processed.</li>
              <li>Ignored GameLogs can be unignored from your <a href="/profile"><b>Profile</b><a> page.</b></li>
            </ul>
          </ol>
	      </div>
	    </div>
	  </div>
	</div>
	<br><br>

	<h5><b>Explore your dataset</b></h5>
	After your data has been processed, imported, and cleaned, you can explore your data and generate insights.

	<br><br>
	<div class="accordion w-100" id="dataExploringAccordion">

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="de1header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#de1" aria-expanded="true" aria-controls="de1">
	        <b>View Tables</b>
	      </button>
	    </h2>
	    <div id="de1" class="accordion-collapse collapse" aria-labelledby="de1header" data-bs-parent="#dataExploringAccordion">
	      <div class="accordion-body">
	        <p>Use the <b>Tables</b> menu to view your data as it is stored in the database. There are two (2) top-level tables that are viewable (Matches, Drafts), assuming those tables contain data.</p>
          <ol>
            <li>Click on <b>Tables -> Select a Table</b>.</li>
          </ol>
          <p><b>Double-click</b> on a record to <b>drill-down</b> into the sub-table.</p>
          <ol>
            <li>Matches -> Games</li>
            <li>Games -> Plays</li>
            <li>Drafts -> Draft Picks</li>
          </ol>
	      </div>
	    </div>
	  </div>
		  
	  <div class="accordion-item">
	    <h2 class="accordion-header" id="de2header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#de2" aria-expanded="true" aria-controls="de2">
	        <b>Dashboards</b>
	      </button>
	    </h2>
	    <div id="de2" class="accordion-collapse collapse" aria-labelledby="de2header" data-bs-parent="#dataExploringAccordion">
	      <div class="accordion-body">
          <p>There are pre-built dashboards available showing some basic analysis and descriptive statistics.</p>
          <ol>
            <li>Click on <b>Dashboards -> Choose a Dashboard</b>.</li>
            <li>Apply <b>filters</b>:</li>
            <ul>
              <li>Change filters using the dropdown menus.</li>
              <li>Click <b>Generate</b>.</li>
            </ul>
          </ol>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-item">
	    <h2 class="accordion-header" id="de3header">
	      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#de3" aria-expanded="true" aria-controls="de3">
	        <b>Export</b>
	      </button>
	    </h2>
	    <div id="de3" class="accordion-collapse collapse" aria-labelledby="de3header" data-bs-parent="#dataExploringAccordion">
	      <div class="accordion-body">
          <p>Export your data as a .zip file containing every existing table as individual .csv files. After exporting, use your data to do further data analysis or create custom dashboards and visualization using other tools such as R/Python, Excel, or Tableau.</p>
          <ol>
            <li>Click on <b>Processing -> Export to CSV</b>.</li>
          </ol>
	      </div>
	    </div>
	  </div>

	</div>
	<br><br>

	<h5><b>Continue importing data as you play more matches on MTGO!</b></h5>

	<br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}