{% extends 'base.html' %}

{% block content %}

<div class="container container-1200">

	<h1><b>MTGO-DB</b></h1>
  <p><b>MTGO-DB</b> is an analytics tool used to process raw data for Magic: the Gathering Online. Players can import and 
    parse log files created during online play and store resulting information into a <b>personalized database</b> for self-analysis. 
    These tables will help you track your <b>results</b>, evaluate your <b>performance</b>, and analyze your <b>play patterns</b>.</p>
	<br>
	<p><a class="btn btn-lg btn-primary" href="/getting_started" role="button">Get Started &raquo;</a></p>
	<br><br>

</div>

<div class="container-fluid container-dark">
  <div class="container container-1200">
    <br><br>
    <p>The first goal of the <b>MTGO-DB project</b> is to create a feature-rich replacement for the spreadsheets that many 
      players use to track their match history by automating as much of the process as possible.</p>
    <p>The second is to give players a whole new type of data to explore by generating a database of <b>play-level</b> records. 
      Unlocking this method of examining player performance and playstyle will provide a new avenue for <b>MTG statistical analysis</b>, 
      <b>data-informed content</b>, and <b>decision-making</b>.</p>
    <br>

    <div class="row">
      <div class="col-md-4">
        <h4><b>Match History</b></h4>
        <img src="/static/images/match_history.png" data-bs-toggle="modal" data-bs-target="#MatchHistoryImageModal" style="cursor: pointer;">
      </div>
      <div class="col-md-4">
        <h4><b>Detailed Entries</b></h4>
        <img src="/static/images/detailed_entries.png" data-bs-toggle="modal" data-bs-target="#DetailedEntriesImageModal" style="cursor: pointer;">
      </div>
      <div class="col-md-4">
        <h4><b>Data Cleaning</b></h4>
        <img src="/static/images/datacleaning.png" data-bs-toggle="modal" data-bs-target="#DataCleaningImageModal" style="cursor: pointer;">
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-4">
        <h4><b>Performance Statistics</b></h4>
        <img src="/static/images/perf_stats.png" data-bs-toggle="modal" data-bs-target="#PerfStatsImageModal" style="cursor: pointer;">
      </div>
      <div class="col-md-4">
        <h4><b>Card Statistics</b></h4>
        <img src="/static/images/card_stats.png" data-bs-toggle="modal" data-bs-target="#CardStatsImageModal" style="cursor: pointer;">
      </div>
      <div class="col-md-4">
        <h4><b>Play-By-Play Data</b></h4>
        <img src="/static/images/pbp2.png" data-bs-toggle="modal" data-bs-target="#PBP2ImageModal" style="cursor: pointer;">
      </div>
    </div>

    <div class="modal fade" id="MatchHistoryImageModal" tabindex="-1" aria-labelledby="MatchHistoryImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/match_history_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="PerfStatsImageModal" tabindex="-1" aria-labelledby="PerfStatsImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/perf_stats_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="CardStatsImageModal" tabindex="-1" aria-labelledby="CardStatsImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/card_stats_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DetailedEntriesImageModal" tabindex="-1" aria-labelledby="DetailedEntriesImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/detailed_entries_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DataCleaningImageModal" tabindex="-1" aria-labelledby="DataCleaningImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/datacleaning_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="ExportImageModal" tabindex="-1" aria-labelledby="ExportImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/export_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="modal fade" id="PlayStatsImageModal" tabindex="-1" aria-labelledby="PlayStatsImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/play_stats_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade" id="PBP2ImageModal" tabindex="-1" aria-labelledby="PBP2ImageModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <img src="/static/images/pbp2_big.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
  </div>
</div>

{% endblock %}