{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row justify-content-md-center">
    <div class="col-lg-8 mb-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">

            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="reg_email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="login_email" name="login_email" placeholder="Email" value="{{ inputs.0 }}">
              </div>
              <div class="mb-3">
                <label for="reg_pwd" class="form-label">Password</label>
                <input type="password" class="form-control" id="login_pwd" name="login_pwd" placeholder="Password" value="{{ inputs.1 }}">
              </div>
              <div class="row justify-content-left">
                <div class="col-auto">
                  <button type="submit" class="btn btn-dark modal-button">Submit</button>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-dark modal-button" data-bs-toggle="modal" data-bs-target="#ResetPassModal" onclick="resetPassModal()">Reset Password</button>
                </div>
                {% if not_confirmed %}
                <div class="col ml-auto d-flex justify-content-end">
                  <button type="submit" class="btn btn-dark" style="width: 250px;" form="confirm_email_form" onclick="confirmHidden()">Send Confirmation Email</button>
                </div>
                {% endif %}
              </div>
            </form>
            <form action="/send_confirmation_email" id="confirm_email_form" method="POST">
                <input type="hidden" name="confirm_email" id="confirm_email" value="">
                <input type="hidden" name="confirm_pwd" id="confirm_pwd" value="">
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<form action="/reset_pwd" method="POST">
  <input type="hidden" name="reset_email" id="reset_email" value="">
  <div class="modal fade" id="ResetPassModal" tabindex="-1" aria-labelledby="ResetPassModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5">Reset Password?</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row text-center" id="ResetPassBody">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary modal-button" id="resetSubmitButton" onclick="">Send Reset Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script src="{{ url_for('static', filename='login-js.js') }}"></script>

{% endblock %}