.modal-button {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-button-lg {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#processing-modal .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#processing-modal .modal-content {
  background-color: #30373e;
  color: #ffffff;
}
.navbar-custom .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.accordion-button:not(.collapsed) {
  background-color: #30373e;
  color: #ffffff;
  box-shadow: none;
}

.accordion-button.collapsed {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

.container-1200 {
  width: 1200px;
}

.container-dark {
  width: 100%;
  box-sizing: border-box;
  background-color: #202124;
  color: #ffffff;
}

.fp_image {
  width: 350px;
  height: auto;
}

.alert {
  z-index: 9999;
  opacity: 1.0;
}

.dropdown-menu {
  z-index: 10000;
}

.modal-backdrop {
  z-index: 10001;
}

.modal {
  z-index: 10002;
}

.modal-draftid {
  min-height: 600px;
}

.modal-footer-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu-filter {
  max-height: 25vh;
  overflow-y: scroll;
}

.image-modal-width {
  position: fixed;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}